/* ******************--GLOBAL & NESTED STYLES START--****************** */
* {
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Azeret Mono', monospace;
}
/* REUSABLE BUTTON STYLE WITH HOVER EFFECTS */
.btn_primary {
  padding: 12px 20px 12px 20px;
  font-family: 'Azeret Mono', monospace;
  color: #0D1321;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.33s ease-in-out;
}
.btn_primary:hover {
  background-color: #0D1321;
  color: #fff;
  transition: 0.33s ease-in-out;
}
.bgi {
  background-image: url('../img/Hero-bg.png');
  background-size: cover !important;
  background-repeat: no-repeat;
  /* background-size: contain; */
}
/* CONTACT WITH ME BUTTON */
.mt-28 {
  margin-top: 36px;
  margin-bottom: 28px;
  padding: 20px 18px;
  font-family: 'Azeret Mono', monospace;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #0D1321;
  transition: 0.33s ease-in-out;
}
.mt-28:hover {
  color: #0D1321;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.btn_thirty_two {
  margin-top: 32px;
  font-size: 20px;
}
.ml_18px {
  margin-left: 18px;
}
.mt_24 {
  margin-top: 24px !important;
}
.p-right {
  padding-right: 8px;
  border: none;
}
.web_intro {
  display: flex;
  margin: 62px;
  justify-content: space-around;
  align-items: center;
}
.web_intro2 {
  display: flex;
  margin: 62px;
  justify-content: space-evenly;
  align-items: center;
}
/* ****************************************************--GLOBAL STYLES END--**************************************************** */






/* **************************************************--HEADER START--************************************************************ */
/* HEADER */
/* NAVBAR STYLE */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}
/* ***************************************************--HEADER END--************************************************************* */




/* ***************************************************--BANNER START--************************************************************ */
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner_content {
  max-width: 800px;
  margin: 0 auto;
}
.banner_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.banner_img {
  width: auto;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}
.banner_intro {
  text-align: center;
}
.banner_title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
}
.banner-title span {
  display: block;
}
.banner_description {
  margin-bottom: 32px;
  color: #0D1321;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
/* ***************************************************--MAIN START--************************************************************ */
.color_bg {
  margin: 0px 74px 0px 74px;
  padding: 28px;
  border-radius: 8px;
  background-color: #fafafa;
}
.y_web_dev {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
/* FONT (USED IN BODY TAG) */
.azeret_mono {
  margin: 0;
  font-family: 'Azeret Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bgc_white {
  padding: 48px;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.web_desc {
  margin-top: 10px;
  font-size: 16px;
}
/* INSPIRATION */
.vid_section, .vid_content {
  text-align: center;
}
.vid_title {
  margin-top: 80px;
  font-size: 32px;
  font-weight: 700;
}
.vid_description {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
}
/* IFRAME VID_LINK */
.vid_link {
  margin-top: 60px;
}
/* ***************************************************--BANNER END--************************************************************ */








/* ***************************************************--MY CURRENT-TARGET-CONTENT START--************************************************************ */
.my_target_content{
  margin-top: 150px;
}
.my_target_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.target_p {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #0D1321;

}
.my_target_card_container {
  display: flex;
  flex-wrap: wrap;
  padding: 46px 64px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.card_border_none {
  margin-top: 24px;
  padding: 2px;
  border: none;
  font-size: 20px;
  color: #0D1321;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.4s ease-in-out;
}
.card_border_none:hover {
  margin-top: 24px;
  font-size: 20px;
  border: none;
  color: #332FD0;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.card_border_none a {
  color: #0D1321;
  text-decoration: underline;
}
/* ***************************************************--MY CURRENT-TARGET-CONTENT END--************************************************************ */






/* ***************************************************--MY NEXT-TARGET-CONTENT START--************************************************************ */
.my_target_card {
  padding: 40px;
  width: 500px;
  text-align: left;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.my_target_icon {
  margin-top: 50px;
}
.my_target_heading {
  margin-top: 20px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.my_target_desc {
  margin-top: 16px;
  margin-left: 8px;
  color: #0D1321;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
/* CARD BACKGROUND COLOR */
.fe_f5_f1 {
  background-color: #fef5f1;
}
.f4_f6_fe {
  background-color: #f4f6fe;
}
.fff_ef1 {
  background-color: #fffef1;
}
/* ***************************************************--MY CURRENT-TARGET-CONTENT END--************************************************************ */







/* ***************************************************--MY NEXT-TARGET-CONTENT STARTS--************************************************************ */
.my_next_target_card_container {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.my_next_target_card {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 38px;
  text-align: left;
  width: 90%;
}
.my_next_target_icon {
  width: 100%;
  text-align: left;
}
.my_next_target_icon2 {
  margin-right: -46px;
  width: 100%;
  text-align: left;
}
.my_next_target_icon3{
  margin-right: -9px;
  width: 100%;
  text-align: left;
}
.my_next_target_heading {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.my_next_target_desc {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0D1321;
}
.my_next_target_card_inner {
  margin-left: 18px;
}
/* ***************************************************--MY-NEXT-TARGET ENDS--************************************************************ */


/* ***************************************************--NEED-SUPPORT START--************************************************************ */
.need_support_section{
  margin-top: 86px;
}
.need_support_content{
  margin: 0 auto;
  padding: 152px;
  width: 95%;
  align-items: center;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-image: url('../img/handshake.jpg');
  background-repeat: no-repeat;
}
.need_support_title{
  color: #FFFFFF;
}
.need_support_description{
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #dfdddd;
  opacity: 0.9;
}
.support_btn_content {
    align-items: center;
    text-align: center;
}
.support_input {
  padding: 24px 80px 18px 80px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  width: 500px;
}
.submit_btn {
  margin: 0 auto;
  padding: 18px;
  width: 120px;
  align-items: center;
  text-align: center;
}
/* ***************************************************--NEED-SUPPORT END--************************************************************ */
/* FOOTER START */
.footer{
  padding: 40px 40px;
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
  background-color: #fafafa;
}
.footer_content{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}
.footer_text{
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.footer_socials a {
  color: #0D1321;
  text-decoration: none;
}
.footer_title{
  font-size: 24px;
}
/* FOOTER END */
